.searchpage-header{
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;
}

.searchpage-logo{
    object-fit:contain;
    height: 70px;
    margin-right: 50px;
}

.searchpage-headerbody > .search > .search-input {
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}

.searchpage-options {
    display: flex;
    align-items: center;
    color: gray;
}

.searchpage-options a,
.searchpage-options-right a {
    text-decoration: none;
    color: gray;
}

.searchpage-options-right,
.searchpage-options-left {
    display: flex;
}

.searchpage-options-right{
    margin-left: 80px;
}

.searchpage-option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchpage-option a {
    margin-left: 5px;
}

.searchpage-result {
    margin: 40px 0;
}

.searchpage-result-count {
    color: #70757a;
    font-size: 14px;
}

.searchpage-results {
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
}

.searchpage-result-title {
    text-decoration: none;
}

.searchpage-result-title:hover {
    text-decoration: underline;
}

.searchpage-result-title > h2 {
    font-weight: 500;
}

.searchpage-result-snippet{
    margin-top: 10px;
}

.searchpage-arrow {
    display: flex;
    align-items: center;
    color: gray
}

.searchpage-result-image {
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}